#panel-settings-editor {
  background: #f0fff0;
  opacity: 1;
  position: fixed;
  padding: 20px;
  z-index: 3;
  left: 20px;
  top: 10px;
  bottom: 10px;
  right: 20px;
  z-index: 3;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;  
}

#panel-settings-editor h1 {
  margin: 0 0 10px;
  font-size: 24px;
  text-align: center;
}

#panel-settings-editor h2 {
  margin: 0 0 10px;
  text-align: center;
}

#panel-settings-editor .edit-wrapper {
  bottom: 75px;
  left: 1px;
  overflow-y: auto;
  padding: 20px;
  position: absolute;
  right: 15px;
  top: 85px;
}

#panel-settings-editor .button-wrapper {
  min-width: 100px;
  width: 25%;
  display: inline-block;
  height: 150px;
  text-align: center;
}

#panel-settings-editor .close-settings {
  position: absolute;
  right: 20px;
  bottom: 0px;
  padding-right: 40px;
}

#panel-settings-editor .footer {
  position: fixed;
  bottom: -7px;
  font-weight: normal;
  padding-right: 100px;
  padding-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: 20px;
  right: 20px;
  line-height: 45px;
}

#panel-settings-editor .footer:before {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
  border-radius: 1.2em;
  color: #fff;
  content: "i";
  display: block;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  height: 1.2em;
  left: 4px;
  line-height: 1.2em;
  position: absolute;
  text-indent: 5px;
  top: 13px;
  width: 1.2em;
}

#panel-settings-editor hr.footer-delim {
  background: none repeat scroll 0 0 #ddd;
  border: 0 none;
  bottom: 56px;
  height: 1px;
  left: 20px;
  position: fixed;
  right: 10px;
}

#panel-settings-editor .first-view {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
  margin: 0 auto 0;
  width: 50%;
  position: relative;
  display: table;
  height: 50%;
  max-height: 300px;
  min-height: 100px;
}

#panel-settings-editor .first-view .ui-btn-icon-top:after {
  top: 25%;
}

#panel-settings-editor .first-view ul {
  display: table-row;
}

#panel-settings-editor .first-view li {
  width: 50%;
  height: 50%;
}

#panel-settings-editor .first-view li a {
  padding: 0;
  font-size: 16px;
  height: 100%;
}

#panel-settings-editor .first-view li a span {
  display: inline-block;
  position: relative;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);   
}

#panel-settings-editor .description {
  color: #666;
  font-size: 11px;
}

#edit-widgets-wrapper .widget {
  display: inline-block !important;
  vertical-align: top;
  border: 1px dashed #999;
  padding: 10px;
}

#edit-widgets-wrapper .widget-wrapper {
  width: 50%;
  min-width: 200px;
  display: inline-block;
  padding-bottom: 30px;
  vertical-align: top;
}

#edit-widgets-wrapper .widget-wrapper h2 {
  text-align: center;
}

#edit-widgets-wrapper .widget-wrapper h2 a {
  margin-top: -1px;
  float: right;
}

#edit-modules-wrapper ul {
  padding: 0;
}

#edit-modules-wrapper li {
  list-style: none;
}

#settings-form-popup {
  background: #f0fff0;
  padding: 15px 20px;
  border: 1px solid #ddd;
}

#settings-form-popup .ui-collapsible-content .ui-listview li {
  padding: 0 5px;
}

#settings-form-popup .radio-wrapper {
  display: inline-block;
}