.pt_tooltip {
    background-color: #f0fff0;
    border-radius: 6px;
    opacity: 0.85;
    padding: 2px 7px 4px 7px;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}